* {
  padding:0px;margin:0px;overflow:hidden;
  box-sizing: border-box;
}
html, body {overflow:hidden;}
body {
  background:#f2f2f2;
  padding:2rem;
}
.layout-container {
  background:#ddd;
  width:100%;
  border:1px solid #ddd;
  margin:0 auto;
  display:flex;
  height:calc(100vh - 4rem);
}
.column {}
.one {width:15%;background:#fed8b1;}
.two {width:35%;background:#add8e6;}
.three{width:50%;background:#F0DEFD;}

.one-column {
  display:flex;
  align-items:center;
  justify-content:center;
  border:1px solid #333;
  border-right:0px solid #333;
  text-align:center;flex-direction: column;
}
.one-one {
  width:80%;height:25%;border-bottom:0px;
}
.one-two {
  width:80%;height:50%;border-bottom:0px;
}
.one-three {
  width:80%;height:25%;
}

body {
  font-size: 1.2rem;
}