<div style="" class="layout-container">
  <div class="column one">
    <div class="one-column one-one" style="font-weight: bold;">Taxonomy Alignment
      <div>Visitors: {{IDE1?.activeVisitorCount}} ({{IDE1?.event?.count}})</div>
    </div>
    <div class="one-column one-two" style="font-weight: bold;">Crossword Generation
      <div>Visitors: {{IDE2?.activeVisitorCount}} ({{IDE2?.event?.count}})</div>
    </div>
    <div class="one-column one-three" style="font-weight: bold;">AR/VR Content
      <div>Visitors: {{IDE3?.activeVisitorCount}} ({{IDE3?.event?.count}})</div>
    </div>
  </div>

  <div class="column two">
    <div style="
    display: grid;
    grid-template-columns:33.333% 33.333% 33.333%;
    grid-template-rows: 25% 25% 25% 25%;
    height: 100%;
                position:relative;
    ">
      <div style="
    border: 1px solid #333;
    grid-row: 1;
    grid-column: 1; display: flex;
    justify-content: center;
    align-items: center;    flex-direction: column;
    border-right: 0px solid #333;
    border-bottom: 0px solid #333;font-weight: bold;
">Interactive Videos
        <div>Visitors: {{IDE4?.activeVisitorCount}}({{IDE4?.event?.count}})</div>
      </div>
      <div style="grid-column: 2 / span 3;border: 1px solid #333;    display: flex;
    justify-content: center;flex-direction: column;
    align-items: center;font-weight: bold;
            border-bottom:0px solid #333"><div>Live Coaching Session</div>
        <div>Visitors: {{IDE5?.activeVisitorCount}} ({{IDE5?.event?.count}})</div>
      </div>
      <div style="
           position: absolute;
    width: 15%;
    height: 5%;
    background: #add8e6;
    left: 20%;
    top: 20%;
    z-index: 999;
"></div>
      <div style="
            position: absolute;
    width: 15%;
    height: 11%;
    background: #add8e6;
    left: 18%;
    top: 19%;
    z-index: 999;
"></div>
      <div style="
            position: absolute;
    width: 15%;
    height: 11%;
    background: #add8e6;
    left: 18%;
    top: 19%;
    z-index: 999;
"></div>
      <div style="
            position: absolute;
    width: 10%;
    height: 15%;
    background: #add8e6;
    left: 30%;
    top: 35%;
    z-index: 999
"></div>
      <div style="
           position: absolute;
    width: 8%;
    height: 80%;
    background: #add8e6;
    right: 25%;
    bottom: 3px;
    z-index: 999;
"></div>
      <div style="
              position: absolute;
    width: 8%;
    height: 5%;
    background: #add8e6;
    right: 0;
    bottom: 1px;
    z-index: 999;
"></div>
      <div style="
    grid-column: 1;
    grid-row: 2;
    border: 1px solid #333;    display: flex;
    justify-content: center;flex-direction: column;
    align-items: center;
            border-bottom:0px solid #333;font-weight: bold;
">Home assessment {{IDE19?.activeVisitorCount}}
        <div>Visitors: {{IDE19?.activeVisitorCount}} ({{IDE19?.event?.count}})</div>
      </div>
      <div style="
    grid-row: 2 / span 3;
    border: 1px solid #333;    display: flex;
    justify-content: center;
    align-items: center;
            border-left:0px solid #333;
             border-right:0px solid #333;font-weight: bold;
            
">Auto Curation
<div>Visitors: {{IDE8?.activeVisitorCount}} ({{IDE8?.event?.count}})</div></div>
      <div style="
    grid-column: 3;
    grid-row: 2;
    border: 1px solid #333;    display: flex;
    justify-content: center;flex-direction: column;
    align-items: center;
             border-bottom:0px solid #333;font-weight: bold;
">Smart wall
<div>Visitors: {{IDE18?.activeVisitorCount}} ({{IDE18?.event?.count}})</div></div>

      <div style="
    grid-row: 3 / span 4;
    grid-column: 1;
    border: 1px solid #333;    display: flex;
    justify-content: center;flex-direction: column;
    align-items: center;
            flex-direction: column;font-weight: bold;
            
">Attendance tracking
<div>Visitors: {{IDE9?.activeVisitorCount}} ({{IDE9?.event?.count}})</div>
        <div style="
       position: absolute;
    width: 20px;
    height: 5%;
    background: #add8e6;
    left: 29%;
    bottom: 22%;
    z-index: 999;
"></div>
        <div style="
       position: absolute;
    width: 20px;
    height: 5%;
    background: #add8e6;
    left: 0%;
    bottom: 1px;
    z-index: 999;
"></div>

      </div>
      <div style="
    grid-row: 3;
    grid-column: 3;
    border: 1px solid #333;    display: flex;
    justify-content: center;flex-direction: column;
    align-items: center;font-weight: bold;
            
">Syllabus <br> coverage
<div>Visitors: {{IDE10?.activeVisitorCount}} ({{IDE10?.event?.count}})</div></div>
      <div style="
    grid-row: 4;
    grid-column: 3;
    border: 1px solid #333;    display: flex;
    justify-content: center;flex-direction: column;
    align-items: center;text-align: right;
             border-top:0px solid #333;font-weight: bold;
">
<!-- Child profiles<br> shared between<br> teachers &<br> parents -->
Accessibility
<div>Visitors: {{IDE16?.activeVisitorCount}} ({{IDE16?.event?.count}})</div>
</div>
    </div>

  </div>



  <div class="column three">
    <div style="display:flex;height:100%;position:relative;">
      <div style="
    position: absolute;
    width: 50px;
    height: 80%;
    background: #F0DEFD;
    right: 29%;
    bottom: 2px;
    z-index: 999;
"></div>
      <div style="width:65%;height:100%;">
        <div style="width:100%;height:25%;border:1px solid #333;display:flex;align-items:center;justify-content:center;
                  border-right: 0px solid #333;
                  border-bottom: 0px solid #333;flex-direction: column;
                  border-left: 0px solid #333;font-weight: bold;">Analytics on student data
                  <div>Visitors: {{IDE12?.activeVisitorCount}} ({{IDE12?.event?.count}})</div>

          <div style="
            position: absolute;
            width: 15%;
            height: 11%;
            background: #F0DEFD;
            left: 0%;
            top: 19%;
            z-index: 999;
"></div>

        </div>
        <div style="width:100%;height:75%;">
          <div style="display: grid;
    grid-template-columns: 35% 30% 35%;
    grid-template-rows: 25% 25% 25% 25%;    height: 100%;position:relative;
">
            <div style="
    position: absolute;
    width: 30px;
    height: 76.5%;
    background: #F0DEFD;
    left: 30%;
    top: 23%;
"></div>
            <div style="
    position: absolute;
    width: 20px;
    height: 98%;
    background: #F0DEFD;
    right: -1%;
    top: 1%;
"></div>
            <div style="
    grid-column: 1 / span 2;
    border: 1px solid #333;
    display: flex;flex-direction: column;
    justify-content: center;
    align-items: center;
            border-bottom:0px solid #333;
            border-right:0px solid #333;
            border-left:0px solid #333;font-weight: bold;
">Embeddable player in other apps
<div>Visitors: {{IDE13?.activeVisitorCount}} ({{IDE13?.event?.count}})</div></div>
            <div style="
    display: flex;
    justify-content: center;
    align-items: center;flex-direction: column;
    border: 1px solid #333;
    border-bottom:0px solid #333;font-weight: bold;
            
">Player within content
<div>Visitors: {{IDE14?.activeVisitorCount}} ({{IDE14?.event?.count}})</div></div>
            <div style="
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;flex-direction: column;
            border-bottom:0px solid #333;
            border-left:0px solid #333;font-weight: bold;
">Voice command mode
<div>Visitors: {{IDE15?.activeVisitorCount}} ({{IDE15?.event?.count}})</div></div>
            <div style="
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;flex-direction: column;
            border-bottom:0px solid #333;
            border-right:0px solid #333;font-weight: bold;
">Beat the Bot
<div>Visitors: {{IDE26?.activeVisitorCount}} ({{IDE26?.event?.count}})</div></div>
            <div style="
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;flex-direction: column;
            border-bottom:0px solid #333;font-weight: bold;
">Smart consumption
<div>Visitors: {{IDE17?.activeVisitorCount}} ({{IDE17?.event?.count}})</div>
</div>
            <div style="
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
            border-bottom:0px solid #333;
            border-left:0px solid #333;font-weight: bold;
">Home assessment
<div>Visitors: {{IDE19?.activeVisitorCount}} ({{IDE19?.event?.count}})</div></div>
            <div style="
    display: flex;flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
            border-bottom:0px solid #333;font-weight: bold;
">DISHA - Career Guidance
<div>Visitors: {{IDE27?.activeVisitorCount}} ({{IDE27?.event?.count}})</div></div>
            <div style="
    display: flex;flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
            border-bottom:0px solid #333;
            border-left:0px solid #333;font-weight: bold;
">Wordnet
<div>Visitors: {{IDE20?.activeVisitorCount}} ({{IDE20?.event?.count}})</div>
</div>
            <div style="
    display: flex;
    justify-content: center;
    align-items: center;flex-direction: column;
    border: 1px solid #333;
            border-left:0px solid #333;font-weight: bold;
">Reading Quality Index
<div>Visitors: {{IDE21?.activeVisitorCount}} ({{IDE21?.event?.count}})</div></div>
            <div style="
    display: flex;
    justify-content: center;
    align-items: center;flex-direction: column;
    border: 1px solid #333;font-weight: bold;
">Hangman
<div>Visitors: {{IDE22?.activeVisitorCount}} ({{IDE22?.event?.count}})</div></div>
            <div style="
    display: flex;
    justify-content: center;flex-direction: column;
    align-items: center;
    border: 1px solid #333;
            border-left:0px solid #333;font-weight: bold;
">Multiplayer Game
<div>Visitors: {{IDE23?.activeVisitorCount}} ({{IDE23?.event?.count}})</div></div>
          </div>
        </div>
      </div>
      <div style="width:35%;height:100%;border:1px solid #333;border-right:0px;border-top:0px;border-left: 0px;">
        <div
          style="width:100%;height:40%;border:1px solid #333;display:flex;flex-direction: column;align-items:center;justify-content:center;padding: 40px;flex-wrap: wrap;flex-direction: column;font-weight: bold;">
          <b>Adoptive Game</b>
          <div>Visitors: {{IDE24?.activeVisitorCount}} ({{IDE24?.event?.count}})</div>
        </div>
        <div style="width:100%;height:15%;border:1px solid #333;display:flex;flex-direction: column;align-items:center;justify-content:center;border-top: 0px;
    border-bottom: 0px; padding: 40px;font-weight: bold;"><div>Rock paper scissors</div>
          <div>Visitors: {{IDE25?.activeVisitorCount}} ({{IDE25?.event?.count}})</div>
        </div>
        <div
          style="width:100%;height:15%;border:1px solid #333;display:flex;flex-direction: column;align-items:center;justify-content:center;font-weight: bold;">
          Beat the Bot
          <div>Visitors: {{IDE26?.activeVisitorCount}} ({{IDE26?.event?.count}})</div>
        </div>
        <div style="width:100%;height:15%;border:1px solid #333;display:flex;flex-direction: column;align-items:center;justify-content:center;    border-top: 0px;
    border-bottom: 0px;font-weight: bold;">DISHA - Career Guidance
    <div>Visitors: {{IDE27?.activeVisitorCount}} ({{IDE27?.event?.count}})</div></div>
        <div
          style="width:100%;height:15%;border:1px solid #333;display:flex;flex-direction: column;align-items:center;justify-content:center;border-bottom:0px;font-weight: bold;">
          Magic Mirror
          <div>Visitors: {{IDE28?.activeVisitorCount}} ({{IDE28?.event?.count}})</div></div>
      </div>
    </div>
  </div>

</div>